.main-container {
    padding: 0;
}

header {
    width: inherit;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: stretch;
    height: 115px;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}

.logo-container {
    flex-grow: 1;
    /* bc it is column it stretches over y-axis */
    /* align-self: center; */
    width: min-content;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

nav {
    flex-wrap: wrap;
    width: 100%;
}

.nav-link-container {
    justify-content: center;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 12px;
    flex-basis: 50%;
    /* to give elements within a flex container a base width OR height */
}

.nav-link-container:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
}

.info-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.info-headline {
    width: inherit;
}

#search-button-desktop {
    display: none;
}

.search-container {
    background-color: white;
    border-radius: 18px;
    border: 1px solid #F2F2F2;
    width: 100%;
}

#search-bar {
    border: none;
    flex-grow: 1;
    text-align: start;
    padding-left: 25px;
}

#search-button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    width: 49px;
    height: auto;
    border-radius: 14px;
    box-shadow: 0 4px 4px 1px #d9d9d9;
}

.search-icon {
    color: white;
}

#filter {
    align-self: flex-start;
}

.filter-button-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-button {
    width: 35%;
    flex-grow: 1;
}

@media (max-width: 375px) {
    .info-icon {
        width: 18px;
    }
}

@media (max-width: 380px) {

    #family-friendly,
    #top-picks {
        padding-left: 10px;
        padding-right: 0;
    }
}

@media (max-width: 320px) {
    .info-icon {
        width: 24px;
    }
}

.accommodation-and-popular {
    flex-direction: column-reverse;
}

.accommodation-and-popular .accommodation,
.accommodation-and-popular .popular {
    border-radius: 0;
    padding: 15px;
}

.accommodation-and-popular .accommodation {
    background-color: white;
}

.accommodation-cards {
    flex-direction: column;
}

.popular-cards {
    flex-direction: column;
}

.popular-cards .card {
    flex-basis: 136px;
}

.info {
    margin-right: 15px;
}

.activities-container {
    padding-left: 20px;
    padding-right: 20px;
}

.activities-cards {
    flex-direction: column;
    gap: 15px;
}

.activities-card img {
    height: 120px;
}

.activities-card h3 {
    padding: 15px;
}

footer {
    flex-direction: column;
    gap: 30px;
}

.footer-section {
    flex-basis: 100px;
}