/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.15));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.star-grey {
    color: #d9d9d9;
}

header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo-container {
    padding: 0;
    width: 10px;
    height: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
}

nav {
    width: 285px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.nav-link-container {
    display: flex;
    align-items: end;
    text-decoration: none;
    color: black;
}

.nav-link-container:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    cursor: pointer;
}

.info-container {
    width: 100%;
    gap: 30px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-headline h1 {
    font-size: 20px;
    margin-bottom: 6px;
}


.search-container {
    width: fit-content;
    height: 49px;
    display: flex;
}

#location-dot-container, #search-bar, #search-button-desktop, #search-button-mobile {
    box-sizing: border-box;
    height: inherit;
    border-style: none;
}

#location-dot-container {
    width: 50px;
    height: inherit;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.location-icon {
    color: black;
}

#search-bar {
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    border-bottom: 2px solid #F2F2F2;   
    border-top: 2px solid #F2F2F2;
    width: 183px;
}

#search-button-desktop {
    width: 93px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#search-button-mobile {
    display: none;
}

#search-button-desktop:hover, #search-button-mobile:hover {
    cursor: pointer;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-button-container {
    height: inherit;
    display: flex;
    gap: 15px;
}

#filter {
    font-size: 19px;
    height: 23px;
    margin: 0;
    align-self: center;
}

.filter-button {
    font-size: 14px;
    font-weight: 900;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    font-weight: bold;
    background-color: white;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 8px;
    color: #0065FC;
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Accommodation ***********/
.accommodation {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accommodation-cards {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.clickable-container {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.accommodation-cards .card {
    min-width: 245px;
    height: 195px;
    display: flex; 
    flex-direction: column;
}

.accommodation-cards img {
    width: inherit;
    height: 115px;
    border-image-slice: 100;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.accommodation-cards .card-content {
    flex-grow: 1;
    margin: 11px 11px 5px 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accommodation-cards .card-title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
}

.accommodation-cards .card-text {
    font-size: 16px;
    font-weight: 500;
}

#show-more {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 900;
}


/****** Popular ***********/
.popular {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular-cards .card {
    display: flex;
    margin-bottom: 20px;
    height: 136px;
    box-sizing: border-box;
}

.popular-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/***** ACTIVITIES *****/
.clickable-card {
    color: black;
    text-decoration: none;
    flex-basis: 115px;
    flex-grow: 1;
}

.activities-container {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;/* for flex as column it modifies vertical spacing between items */
    gap: 30px;
}

.activities-cards {
    display: flex;
    width: 100%;
    gap: 30px;
}

.activities-card img {
    width: 100%;
    height: 360px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.048);
    object-fit: cover;
}

.activities-card h3 {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 16px;
    font-weight: 900;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.102);
}


/*** Footer ***/
footer {
    margin-top: 80px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 20px;
}

footer h2 {
    font-size: 18px;
    margin: 0;
}

.footer-section {
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    flex-grow: 1;
    gap: 15px;
}

.footer-section a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
}