/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/* height: 79px; /* header height */
header {
    /* background-color: #DEEBFF; */
    height: 79px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/* width: 150px; /* logo container */
.logo-container {
    width: 161.09px;
    display: flex;
    align-items: center;
}

.logo {
    width: 61.09px;
}

nav {
    /* background-color: #4d7cc4; */
    width: 285px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.nav-link-container {
    display: flex;
    align-items: end;
    /* font-weight: 500; */
}

.nav-link-container:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    cursor: pointer;
}

.info-container {
    height: 281px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-headline h1 {
    font-size: 20px;
}


.search-container {
    width: fit-content;
    height: 49px;
    /* background-color: #DEEBFF; */
    display: flex;
}

#location-dot-container, #search-bar, #search-button-desktop, #search-button-mobile {
    box-sizing: border-box;
    /* background-color: green; */
    border-style: none;
}

#location-dot-container {
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

#search-bar {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    border-bottom: 2px solid #F2F2F2;   
    border-top: 2px solid #F2F2F2;
    width: 183px;
}

#search-button-desktop {
    width: 93px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#search-button-mobile {
    display: none;
}

#search-button-desktop:hover, #search-button-mobile:hover {
    cursor: pointer;
}

.filter-container {
    width: 730px; 
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: gray; */
}

.filter-button-container {
    width: 700px;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

#filter {
    font-size: 18px;
}

.filter-button {
    /* text-decoration: none;/* if using anchor tag */
    box-sizing: border-box;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

.filter-icon {
    margin-right: 10px;
    color: #0065FC;
}


.filter-button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 8px;
    color: #0065FC;
}

/* width: 62px; /* logo */
/* nav
    width: 280px;
        OR
    width: 360px;
    height: 35px; 
*/

/* nav link
    font-size: 11pt; 
    border-top: 2px solid #0065FC;
*/



/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/****** Mobile view ***********/
@media (max-width: 320px) {
    .main-container {
        width: 320px;
    }

    header {
        width: inherit;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }

    .logo-container {
        /* background-color: red; */
        display: flex;
        align-items: center;
        align-self: center;
        width: fit-content;
    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;/* puts default of align-content: stretch; */
    }

    .nav-link-container {
        border-bottom: 1px solid #d9d9d9;
        width: auto;
        padding-bottom: 12px;
        display: flex;
        justify-content: center;
    }

    .nav-link-container:hover {
        border-top: none;
        border-bottom: 1px solid #0065FC;
    }

    #search-button-desktop {
        display: none;
    }

    #search-bar {
        border: none;
    }

    .search-container {
        width: fit-content;
        border-radius: 18px;
        border: 1px solid #F2F2F2;
    }

    #search-button-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        width: 49px;
        border-radius: 14px;
        box-shadow: 0 4px 4px 1px #d9d9d9;
    }

    .search-icon {
        color: white;
    }

    .filter-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .filter-button-container {
        width: 320px;
        flex-wrap: wrap;

    }

    .filter-button {
        width: auto;
    }
}