.filter-container {
    flex-direction: column;
}

#filter {
    align-self: flex-start;
}

.accommodation-and-popular {
    flex-direction: column;
}

.accommodation {
    width: 100%;
}

.accommodation-cards {
    margin: 20px 0 25px 0;
}

.popular {
    width: 100%;
}

.popular-cards {
    display: flex;
    gap: 20px;
}

.popular-cards .card {
    flex-basis: 200px;
    flex-grow: 1;
    box-sizing: border-box;
}

.popular-cards img {
    height: 100%;
}

.activities-card img {
    height: 200px;
}