body {
    width: 768px;
}

.main-container {
    padding: 0 25px;
}

.accommodation-cards .card {
    width: 10px;
}

.accommodation-cards img {
    height: 110px;
}

.popular-cards img {
    height: 100%;
    width: 80px;
}